@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.font-serif {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    "kern" 1;
  text-rendering: optimizeLegibility;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
